<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>BUG 管理系统-网站版</title>
    <link rel="stylesheet" href="/static/index/css/layui.css">
    <link rel="stylesheet" href="/static/index/css/index.css">
</head>
<body style="background-color: #F0F0F0;">

<form style="padding: 20px;" class="layui-form" action="" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">BUG标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" value="" lay-verify="required|title" autocomplete="off" placeholder="请输入标题" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">BUG级别</label>
        <div class="layui-input-block">
            <select lay-verify="required" name="level" >
                <option value=""></option>
                <option value="1">1（重要并紧急）</option>
                <option value="2">2（紧急）</option>
                <option value="3">3（重要）</option>
                <option value="3">4（微小）</option>
            </select>
        </div>
    </div>


    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">BUG描述</label>
        <div class="layui-input-block">
            <textarea  name="bug_text" lay-verify="content" id="LAY_demo_editor"><br><br>[步骤]<br><br><br>[结果]<br><br><br>[期望]<br><br><br></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
        </div>
    </div>
</form>

<script src="/static/index/layui.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function() {
        var layer = layui.layer,
            form = layui.form;
    });
    layui.use('layedit', function() {
        var layedit = layui.layedit;
        layedit.set({
            uploadImage: {
                url: 'imgupdate' //接口url
                ,type: '' //默认post
            }
        });
        layedit.build('LAY_demo_editor', {
            height: 480 //设置编辑器高度
        }); //建立编辑器
    });
</script>
</body>
</html>
